.nametext{
    font-family: Impact; 
    font-size: 30px;
    text-align: center;
    color: #FF00F5;
}
.Accepttext{
    font-family: Impact; 
    font-size: 30px;
    color: #ffffff;
    float:left;
}
.Totaltext{
    font-family: Impact; 
    font-size: 30px;
    color: #ffffff;
    float:right;
}

.card{
    background-color : #D87BEA;
    font-family : Impact;
}

.emerBut{
    float : left;
    height: 70px;
    width: 150px;
    border-radius: 0px;
    background-image: url("../img/Button1.png");
    background-position: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Impact;
    display: inline-block;

}

.filterBut{
    float : right;
    height: 68px;
    width: 150px;
    background-image: url("../img/Button2.png");
    background-position: center;
    color: #ffffff;
    font-size: 22px;
    font-family: Impact;
}

.filter{
    float : right;
    width : 200px;
    color : #ffffff;
    font-family: Impact;
}

.BG{
    background-image: url('../img/BarBG(4K).jpg');
}
