.Customer-view {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    margin: 50%;
    overflow: hidden;
}

.box-position {
    position: absolute;
    left: 0%;
    right: 0%;
    width: 300px;
    height: 300px;
    margin: 90px auto;
    border-radius: 0px;
    background-color: #ffffff;
}

.nametext{
    font-family: Impact; 
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.Button1 {
    height: 48px;
    width: 200px;
    color: #ffffff;
    background-image: url("/mnt/c/namtanii/Year3/SoftEng/HangOwl-FrontEnd/src/component/img/Button1.png");
    background-position: center;
    font-size: 20px;
    font-family: Impact;
}

.Button2 {
    height: 68px;
    width: 200px;
    background-image: url("/mnt/c/namtanii/Year3/SoftEng/HangOwl-FrontEnd/src/component/img/Button2.png");
    background-position: center;
    color: #ffffff;
    font-size: 22px;
    font-family: Impact;
}

.Button3 {
    height: 50px;
    width: 70px;
    border-radius: 0px;
    background-image: url("/mnt/c/namtanii/Year3/SoftEng/HangOwl-FrontEnd/src/component/img/Button1.png");
    background-position: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Impact;
    display: inline-block;

}

.Button4 {
    position: absolute;
    left: 50%;
    bottom: 93.56%;
    Width: 220px;
    height: 63px;
    border-radius: 0px;
    align-items: flex-end;
    background-image: url("/mnt/c/namtanii/Year3/SoftEng/HangOwl-FrontEnd/src/component/img/Button3.png");
    background-position: center;
    color: #ffffff;
    font-size: 28px;
    font-family: Impact;
}

.box-position {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    margin: 20px auto;
    border-radius: 0px;
    padding: 0;
    background-color: #ffffff;
}

.boxtext{
    position: absolute;
    font-family: Impact;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
}

.Customer-positon {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centext {
    text-align: center;
}

.edittext {
    font-family: Impact;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.editpic {
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
}



